%button.navbar-toggler.hidden-sm-up{data: { target:  '#navbarResponsive', toggle: :collapse}, aria: {  label: 'nav'} }
  %span.navbar-toggler-icon

#navbarResponsive.collapse.navbar-collapse
  = link_to(root_path, id: 'nav-link', class: 'navbar-brand') do
    CallMeBack
  %ul.navbar-nav.mr-auto
